# ==========================================
# DATABASE CONFIGURATION
# ==========================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# ==========================================
# REDIS CONFIGURATION
# ==========================================
REDIS_HOST=redis-cache
REDIS_PORT=6379

# ==========================================
# SECURITY & JWT
# ==========================================
JWT_ACCESS_SECRET=AFRpbjILk+NiHAXU95mFVTmPZAm8iFNL3eT9XmK4D5I=
JWT_REFRESH_SECRET=UklzSGNvbnRlbnQiLCJkYXRhIjoiZGVhZGJlZWYifQ==

# ==========================================
# INTERNAL SERVICE URLs (Docker Network Names)
# ==========================================
AUTH_SERVICE_URL=http://auth-service:8080
USER_SERVICE_URL=http://user-service:8080
ORDER_SERVICE_URL=http://order-service:8080
PAYMENT_SERVICE_URL=http://payment-service:8080